/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";


@theme {
  --color-primary: rgb(52, 63, 85);     /* blue-600 */
  --color-secondary: rgb(174, 112, 58);   /* green-600 */
  --color-second:rgb(130, 113, 145);
  --border_clr1:rgb(255, 218, 178);
--border_clr2:rgb(112, 165, 207);
--border_clr3:rgb(97, 184, 143);
--border_clr4:rgb(97, 184, 143);
}

.border_clr1{background-color:#FFDAB2;}
.border_clr2{background-color:#70A5CF;}
.border_clr3{background-color:#61B88F;}
.border_clr4{background-color:#827191;}

:root {
  font-family: "Merriweather", serif;
  font-size:16px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-family-2:"Raleway", sans-serif;

}

body{
    background-color: white;
}
.font2{
  font-family: var(--font-family-2);
}

button:hover {
    cursor: pointer;
}

.lang:hover svg {
    fill: white;
}

.hero-slider img {
    mask-image: url(src/assets/images/hero-mask-image.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
}

.slider-container {
    /* background-image: url(src/assets/images/slider-bg.png); */
    background-position: 50% 90%;
    background-size: 45%;
    background-repeat: no-repeat;
}

.hero-cards .cards {
    mask-image: url(src/assets/images/card-mask.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    align-content: center;
}

section.family-tree {
    margin-top: 15px;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.tab-btn {
    bottom: 30px;
    font-size: 28px !important;
}

img.avatar {
    border: 5px solid rgb(174, 112, 58);
    padding: 15px;
    border-radius: 290px 290px 290px 0px;
}

.section1 {
    background-image: url(src/assets/images/hero-bg.png);
    background-size: cover;
    background-position: center;
}

.hero-cards .cards .card-inner {
    background: white;
    width: 100%;
    mask-image: url(src/assets/images/card-mask.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    height: 100%;
    align-content: center;
}


.cta-sec {
    clip-path: ellipse(80% 100% at 50% 0%);
}


/* Hide everything outside viewport */
.section1 {
  overflow: hidden;
}

/* Base slide */
.custom-swiper .swiper-slide {
  transition: transform 0.6s 0.1s linear, opacity 0.6s 0s linear !important;
  opacity:0;
  /* max-width: 20%; */
  /* width: 20% !important; */
  /* transform: scale(0.7) !important; */
}

/* 1st visible slide */
.custom-swiper .swiper-slide-active {
  /* transform: scale(1) !important; */
  opacity: 1;
  /* width: 100% !important; */
  /* margin-right: -7% !important; */
  /* margin-right: 0.7% !important; */
    z-index: 1;
}

/* 2nd visible slide */
.custom-swiper .swiper-slide-active + .swiper-slide {
  /* transform: scale(0.925) !important; */
  opacity: 1;
  /* width: 18.5% !important; */
  /* margin-right: -8.5% !important; */
  /* margin-right: -0.75% !important; */
    z-index: 2;
        margin-right: -1.5%;
}

/* 3rd visible slide */
.custom-swiper .swiper-slide-active + .swiper-slide + .swiper-slide {
  /* transform: scale(0.85) !important; */
  opacity: 1;
   /* width:17% !important; */
  /* margin-right: -10% !important; */
  /* margin-right: -2.75% !important; */
    z-index: 3;
    margin-right: -3.8%;
}

/* 4th visible slide */
.custom-swiper .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
  /* transform: scale(0.725) !important; */
  opacity: 1;
  /* width: 15.5% !important; */
  /* margin-right: -4% !important; */
  z-index: 4;
  margin-right: -6%;
}

.custom-swiper .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
  /* transform: scale(0.7) !important; */
  opacity: 1;
  /* width: 14% !important; */
  /* margin-right: 0px !important; */
  z-index: 5;
}

.custom-swiper .swiper-slide-active + .swiper-slide img {
    padding: 5%;
}
.custom-swiper .swiper-slide-active + .swiper-slide + .swiper-slide img {
    padding: 10%;
}
.custom-swiper .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide img {
    padding: 15%;
}
.custom-swiper .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide img {
    padding: 20%;
}

.slide-card {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-slider
 {
    /* max-width: 1000px; */
    /* transform: translate(8%, 0px); */
    /* margin-right: calc(-17% + 80px) !important; */
    margin-right: calc(calc(100% / 5) - 38%) !important;
}

.hero-slider .swiper-wrapper {
    /* gap: 20px; */
    /* align-items: center; */
}

.swiper + button, .swiper + button + button {
    border: 1px solid black;
    font-size: 24px;
    z-index: 2;
}



.active:before {
    content: "";
    position: absolute;
    width: 10%;
    height: auto;
    background-image: url(src/assets/images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    top: 5%;
    left: 3%;
}
.active .serv-card {
    text-align: left;
    justify-content: flex-end;
    align-items: flex-start;
}
.active .serv-card h3 {
    text-align: left;
}

.active .serv-card p{
  display: block;
  opacity:1;
}
.serv-card p{
  display: none;
  opacity: 0;
  transition: opacity 0.3s 0.15s linear;
}
.serv-card {
    align-items: center;
    justify-content: space-between;
    height: 50%;
}
.card-gallery {
    align-content: end;
}

    .family-tree img {
        box-shadow: 0px -31px 30px #ffefe0;
    }

@keyframes left-t {

  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-20%);
  }
  100%{
    transform: translateX(0);
  }
  
}

@keyframes right-t {

  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(20%);
  }
  100%{
    transform: translateX(0);
  }
  
}

@keyframes center-t {

  0%{
    transform: translateY(0);
    opacity: 1;
  }
  33%{
    transform: translateY(20%);
    opacity: 0;
  }
  66%{
    transform: translateY(-20%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
  
}

@media (min-width: 768px){
span.text-primary.left-text {
    /* animation: left-t 2000ms infinite ease-in-out; */
}
span.text-primary.right-text {
    /* animation: right-t 2000ms infinite ease-in-out; */
}
span.center-text {
    animation: center-t 2000ms infinite ease-in-out;
}
}
@media (max-width:767px){
  .serv-card p {
    display: block;
    opacity: 1;
    text-align: center;
    line-height: 1.2em;
}
.serv-card {
    height: 65%;
}
.serv-card button {
    font-size: 14px;
    padding: 8px 10px;
    line-height: 1em;
}
}

@media (max-width:400px){
  .family-tree img {
    border-radius: 20px !important;
}
.card-gallery {
    width: 100% !important;
}
    .serv-card {
        height: fit-content;
        gap: 0px !important;
        justify-content: center;
    }
    .hero-slider {
    margin-right: -2% !important;
}
.test-slide {
    padding: 15px;
    grid-auto-rows: 1.5fr 1fr;
    gap: 15px;
}
.testimonial-next, .testimonial-prev {
    top: 50%;
}
section#testimonial h3 {
    line-height: 1.4em;
}
.copyright .cnt {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
.slider-container {
    background-size: 100%;
}
}

@media (min-width:401px) and (max-width:639px){
  .section1 .cards {
    height: 75vw;
}
.serv-card p {
        font-size: 14px;
    }
.section1 .cards .card-inner {
    padding: 20px;
}
.section1 .cards .card-inner img {
    width: 100px !important;
}
.section1 .cards .card-inner h3 {
    font-size: 20px;
}
.section1 .cards .card-inner p {
    font-size: 15px;
}
.family-tree img {
    border-radius: 25px !important;
}
#steps .swiper img {
    width: 80%;
    object-fit: contain;
    margin: auto;
}
.section1 .btn-wrap {
    display: flex;
    flex-direction: row;
}
.cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    margin-top: 20px;
}
}

@media (min-width: 401px) and (max-width: 767px) 
{
  .custom-swiper .swiper-slide-active {
    margin-right: -1%;
}
  .custom-swiper .swiper-slide-active + .swiper-slide {
    margin-right: -2%;
}
.custom-swiper .swiper-slide-active + .swiper-slide {
    margin-right: -3.6%;
}
.hero-slider {
    margin-right: calc(calc(100% / 5) - 29%) !important;
}
.test-slide {
    grid-auto-rows: 1.5fr 1fr;
    padding: 20px;
    gap: 20px;
}
.testimonial-prev, .testimonial-next {
    top: 50%;
}
section#testimonial h3 {
    line-height: 1.5em;
    padding-top: 5px;
}
}

@media (min-width:640px){
  .tab-cont {
    grid-template-columns: 40% minmax(60%, 1fr) 100px;
}
.test-slide{
  grid-template-columns: 74% minmax(24%, 1fr) 100px;
        gap: 20px;
}

}

.copyright .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:639px)
{
  /* .custom-swiper .swiper-slide-active {
    margin-right: 0px !important;
} */
.hero-slider
 {
    transform: none;
}

.cta-sec {
    clip-path: ellipse(110% 100% at 50% 0%);
}
#testimonial button {
    font-size: 18px;
    width: 25px;
    height: 25px;
    align-content: center;
    flex-wrap: wrap;
    padding: 6px;
}
button.testimonial-next {
    right: 5px;
}
button.testimonial-prev {
    left: 5px;
}
#testimonial img.avatar{
  width:60%;
  margin:auto;
}

}

@media (min-width:640px) and (max-width:767px){
.family-tree img {
    border-radius: 40px !important;
}
.content {
    height: 255px;
}
#testimonial .swiper {
    width: calc(100% - 35px);
}
    .test-slide {
        grid-template-columns: 74% minmax(24%, 1fr) 100px;
        gap: 10px;
    }

.cta-sec {
    clip-path: ellipse(85% 100% at 50% 0%);
}
}

@media (min-width:768px) and (max-width:1023px){
  .hero-slider {
    /* transform: translate(11%, 0px); */
    margin-right: calc(calc(100% / 5) - 31%) !important;
}
.custom-swiper .swiper-slide-active + .swiper-slide {
    margin-right: -2%;
}
.custom-swiper .swiper-slide-active + .swiper-slide + .swiper-slide {
    margin-right: -4.5%;
}
.cta-sec {
    clip-path: ellipse(70% 100% at 50% 0%);
}
.serv-card p {
    line-height: 1.2em;
}
.serv-card {
    padding: 10px;
    padding-top: 0;
}
#testimonial .swiper
 {
    width: calc(100% - 50px);
}
#testimonial button {
    width: 25px;
    height: 25px;
    font-size: 20px;
}
.family-tree img {
    border-radius: 50px !important;
}
.test-slide {
        grid-template-columns: 76% minmax(24%, 1fr) 100px;
        gap: 10px;
        padding: 15px;
    }
}

@media (min-width:1024px) and (max-width:1279px){
.cta-sec {
    clip-path: ellipse(70% 100% at 50% 0%);
}
#testimonial .swiper {
    width: calc(100% - 70px);
}
#testimonial button {
    width: 35px;
    height: 35px;
}
.family-tree img {
    border-radius: 70px !important;
}
    .test-slide {
        grid-template-columns: 73% minmax(24%, 1fr) 100px;
        gap: 20px;
        padding: 20px;
    }
}
@media (min-width:1280px) and (max-width:1536px){
  .slider-container {
    background-size: 50%;
}
.cta-sec {
    clip-path: ellipse(70% 100% at 50% 0%);
}
.family-tree img {
    border-radius: 90px !important;
}
section#testimonial .swiper-wrapper {
    gap: 1px;
}
}

